.description{
    margin-left: 20px;
    margin-top: 10px;
}
.description li {
    margin-bottom: 5px;
}

.block-sequence {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 650px;
    height: 200px;
}

.code-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.code-modifier-parent {
    display: flex;
    flex-direction: row;
}

.code-modifier {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.code-modifier input {
    margin-top: 13px;
}

.variable-preview {
    background: white;
    display: inline-block;
    padding: 20px 30px;
}
.variable-binary {
    display: inline-block;
    width: 20.5ch;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid black;
    letter-spacing: 2px;
    font-family: "Courier New", Courier, monospace;
}

